.header {
	padding-top: 55px;
}

.header-right {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom: 0px;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: $gold;
	}	

	&:after {
		content: '';
		position: absolute;
		bottom: -5px;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: $gold;
	}
}
