.join-spacer {
	margin-bottom: 30px;
}

.join-sidebox {
	padding: 20px;
	border: 2px solid #979797;
	margin-bottom: 20px;

	h3 {
		font-family: $font-text;
	}
}

.join-list {
	padding-left: 20px;
}

.join-form {
	margin-top: 20px;
	margin-bottom: 20px;

	display: none;
	&.join-form-show {
		display: block;
	}
}

.join-message {
	display: none;
	padding: 20px 0;
	&.join-message-show {
		display: block;
	}
}