.nav {
	@include respond_max($device-width-xs) {
		 display: flex;
    	justify-content: space-between;	
	}

	.footer & {
		text-align: right;
		@include respond_max($device-width-xs) {
			display: flex;
    		justify-content: space-between;	
		}
	}
}