h1, .h1, h2, .h2, h3, .h3 {
	margin: 0;
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 34px;
}

.text-right {
	text-align: right;
}

.text-max-width {
	max-width: 600px;
}

a {
	color: $black;

	&:hover {
		color: $black;
	}
}