// **************
// Colours
// **************

$white: #FFF;
$black: #000;
$gold: #E1B228;
$lite-gold: #EBE2C6;
$lite-grey: #F6F6F6;

// **************
// Padding
// **************
$container-padding-xs: 4%;


// **************
// Grid
// **************
$device-width-xs: 480px;
$device-width-sm: 768px;
$device-width-md: 992px;
$device-width-lg: 1275px;

// **************
// Fonts
// **************
$font-heading: "madre-script",sans-serif;
$font-text: "proxima-nova", sans-serif;